:root {
  box-sizing: border-box;
  --primary-link-color: rgba(255, 0, 0, 0.236);
  --primary-btn-color: rgba(255, 0, 0, 0.525);
}

@font-face {
  font-family: "orange-kid";
  src: url("./orange-kid.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "orange-kid", sans-serif;
  background-color: rgb(28, 27, 27);
  color: white;
  font-size: 60px;
}

.nav-bar {
  display: flex;
  position: absolute;
  top: -5%;
}

.nav-bar li {
  padding-left: 30px;
  list-style-type: none;
}

.nav-bar li a {
  font-size: 30px;
  text-decoration: none;
  color: var(--primary-link-color);
}

.nav-bar li a:hover {
  color: white;
}

.header-container {
  display: flex;
}

.masterball-flipped {
  transform: scaleX(-1);
}

.sprite {
  height: 300px;
  width: auto;
}

.sprite-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 20px;
}

.pokemon-data {
  margin: 20px;
  padding: 20px;
  font-size: 50px;
}

.pokemon-data-container {
  display: flex;
}

.content-wrapper {
  /* border: 1px solid red; */
  border-radius: 10px;
}

.data-label {
  padding-right: 30px;
  text-align: right;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100%;
}

/* .input-container input {
  border-radius: 8px;
  width: 400px;
  height: 40px;
  padding-left: 20px;
  margin-top: 10px;
  font-size: 30px;
  text-align: center;
  background-color: rgb(60, 59, 59);
  color: white;
  border: none;
} */

.input-container input:focus {
  outline: none;
}

.label-field-container {
  display: flex;
}

.error {
  text-align: center;
  padding: 20px;
}

.pokedex-button {
  height: 80px;
  width: 240px;
  border-radius: 10px;
  background-color: rgb(249, 46, 46);
  color: white;
  font-size: 60px;
  font-family: "orange-kid";
}

.pokedex-button:hover {
  color: rgb(249, 46, 46);
  background-color: white;
}

.pokedex-button:active {
  transform: translate(3px, 3px);
}

.welcome-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-link {
  text-decoration: none;
  color: white;
}

.data-link:hover {
  text-decoration: underline;
  color: var(--primary-link-color);
}

/* .input-container input {
  border-radius: 8px;
  width: 400px;
  height: 40px;
  padding-left: 20px;
  margin-top: 10px;
  font-size: 30px;
  text-align: center;
  background-color: rgb(60, 59, 59);
  color: white;
  border: none;
} */

.field {
  border-radius: 8px;
  text-align: center;
  color: white;
  border: none;
  margin-left: 20px;
  margin-top: 20px;
  height: 40px;
  width: 300px;
  font-size: 40px;
  font-family: "orange-kid";
  padding-left: 20px;
  background-color: rgb(60, 59, 59);
}

.pokedex-field {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin-left: 0;
  padding: 0;
  text-transform: uppercase;
  outline: none;
}

.pokedex-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.input-label {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  display: flex;
  align-items: center;
  text-align: right;
  margin-bottom: 40px;
}

.input-field-container {
  display: flex;
  flex-direction: column;
}

.pokedex-input-field-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-wrapper label {
  height: 65px;
  text-align: right;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn {
  height: 60px;
  width: 250px;
  border-radius: 10px;
  background-color: var(--primary-btn-color);
  color: white;
  font-size: 40px;
  font-family: "orange-kid";
}

.btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.btn:hover {
  color: rgb(249, 46, 46);
  background-color: white;
}

.input-form {
  height: 180px;
}

.btn:active {
  transform: translate(3px, 3px);
}

.form-error {
  text-align: center;
  font-size: 50px;
  color: red;
}

.success {
  color: green;
}

.warning {
  color: yellow;
}

.error {
  color: red;
}

.flashed-messages {
  animation: disappear 5s forwards;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes disappear {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.logout-btn {
  margin-top: 10px;
}
