:root {
  box-sizing: border-box;
  --primary-link-color: rgba(255, 0, 0, 0.236);
  --primary-btn-color: rgba(255, 0, 0, 0.525);
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "orange-kid";
  src: url("./orange-kid.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "orange-kid", sans-serif;
  background-color: rgb(28, 27, 27);
  color: white;
  font-size: 2.5vw;
}

form {
  margin: 0;
}

nav {
  position: relative;
  height: 0vh;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.nav-bar {
  display: flex;
  margin: 0;
  padding: 0;
  height: 2vh;
  margin-left: 1vw;
}

.nav-bar li {
  padding-left: 30px;
  list-style-type: none;
}

.nav-bar li a {
  font-size: 1.5vw;
  text-decoration: none;
  color: var(--primary-link-color);
}

.nav-bar li a:hover {
  color: white;
}

.header-container {
  display: flex;
}

.sprite {
  height: 13vw;
  width: auto;
}

.sprite-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 20px;
}

.pokemon-data {
  margin: 20px;
  padding: 20px;
  font-size: 4vh;
}

.pokemon-data-container {
  display: flex;
  /* width: auto;
  align-items: center;
  justify-content: center; */
}

.content-wrapper {
  /* border: 1px solid red; */
  border-radius: 10px;
  max-height: 90vh;
}

.data-label {
  padding-right: 30px;
  text-align: right;
}

.data {
  text-align: left;
  max-width: 50vw;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.app-container input:focus {
  outline: none;
}

.label-field-container {
  display: flex;
}

.error {
  text-align: center;
  padding: 20px;
}

.pokedex-button {
  height: 80px;
  width: 240px;
  border-radius: 10px;
  background-color: rgb(249, 46, 46);
  color: white;
  font-size: 60px;
  font-family: "orange-kid";
}

.pokedex-button:hover {
  color: rgb(249, 46, 46);
  background-color: white;
}

.pokedex-button:active {
  transform: translate(3px, 3px);
}

.welcome-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unown-word {
  display: flex;
}

.data-link {
  text-decoration: none;
  color: white;
}

.data-link:hover {
  text-decoration: underline;
  color: var(--primary-link-color);
}

.field {
  border-radius: 8px;
  color: white;
  border: none;
  margin-left: 20px;
  margin-top: 20px;
  height: 40px;
  width: 300px;
  font-size: 40px;
  font-family: "orange-kid";
  padding-left: 20px;
  background-color: rgb(60, 59, 59);
}

.pokedex-field {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 400px;
  margin-left: 0;
  padding: 0;
  outline: none;
}

.pokedex-wrapper {
  opacity: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  animation: slide-in-fade-in-from-top 1s ease-in-out forwards;
}

.input-label {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  display: flex;
  align-items: center;
  text-align: right;
  margin-bottom: 40px;
}

.input-field-container {
  display: flex;
  flex-direction: column;
}

.pokedex-input-field-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-wrapper label {
  height: 65px;
  text-align: right;
}

.btn {
  height: 60px;
  width: 250px;
  border-radius: 10px;
  background-color: var(--primary-btn-color);
  color: white;
  font-size: 40px;
  font-family: "orange-kid";
  margin-top: 10px;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-1px) rotate(1deg);
  }
  50% {
    transform: translateX(1px) rotate(-1deg);
  }
  75% {
    transform: translateX(-1px) rotate(1deg);
  }
  100% {
    transform: translateX(0);
  }
}

.btn:hover {
  color: rgb(249, 46, 46);
  background-color: white;
  animation: shake 0.2s ease-in-out;
}

.input-form {
  min-height: 180px;
}

.btn:active {
  transform: translate(3px, 3px);
}

.form-error {
  text-align: center;
  font-size: 50px;
  color: red;
  animation: disappear 5s forwards;
}

.disappear {
  animation: disappear 5s ease-in-out 5s forwards;
}

.success {
  color: green;
}

.warning {
  color: yellow;
}

.error {
  color: red;
}

.input-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-btn {
  margin-top: 20px;
}

.delete-btn {
  position: absolute;
  bottom: 1%;
  background-color: rgba(0, 0, 0, 0.2);
}

.delete-btn:hover {
  background-color: var(--primary-btn-color);
  color: white;
}

.favorite-container {
  text-align: center;
}

.favorite-sprite {
  height: 5vw;
  width: auto;
  opacity: 0.8;
}

.favorite-btn-container {
  display: flex;
  justify-content: space-around;
}

.display-favorite {
  position: absolute;
  top: 1%;
  right: 1%;
}

.sprite-and-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-container {
  display: flex;
}

.flashed-message {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes disappear {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flashed-message1 {
  animation: disappear 5s forwards;
}

.flashed-message2 {
  opacity: 0;
  animation: fadeIn 0.05s ease-in-out 5s forwards, disappear 5s 5s forwards;
}

.flashed-message3 {
  opacity: 0;
  animation: fadeIn 0.05s ease-in-out 10s forwards, disappear 5s 10s forwards;
}

.delay-show {
  opacity: 0;
  animation: fadeIn 1.2s ease-in-out 0.2s forwards;
}

.animated-text {
  opacity: 0;
  animation: slide-in-fade-in 1s ease-in-out 0.2s forwards;
  color: white;
}

@keyframes slide-in-fade-in {
  0% {
    transform: translateX(-2.5%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.delay-show-top {
  opacity: 0;
  animation: slide-in-fade-in-from-top 1.5s ease-in-out 0.2s forwards;
}

.delay-show-bottom {
  opacity: 0;
  animation: slide-in-fade-in-from-bottom 1s ease-in-out 0.2s forwards;
}

.delay-show-left {
  opacity: 0;
  animation: slide-in-fade-in-from-left 1s ease-in-out 0.2s forwards;
}

.delay-show-right {
  opacity: 0;
  animation: slide-in-fade-in-from-right 1s ease-in-out 0.2s forwards;
}

@keyframes slide-in-fade-in-from-top {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-fade-in-from-bottom {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-fade-in-from-left {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-fade-in-from-right {
  0% {
    transform: translateX(10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.delay-show1 {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out 0.2s forwards;
}

.delay-show2 {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out 0.4s forwards;
}

.delay-show3 {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out 0.6s forwards;
}

.delay-show4 {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out 0.8s forwards;
}

.delay-show5 {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out 1s forwards;
}

.delay-show6 {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out 1.2s forwards;
}

.hidden {
  opacity: 0;
}

.link-btn {
  text-align: center;
  text-decoration: none;
  padding-top: 10px;
  box-shadow: -1px -1px 2px gray;
}

.delay-show-bottom:hover {
  opacity: 1;
}

.delay-show-act {
  opacity: 0;
  animation: fadeIn 1s ease-in-out 0s forwards;
}

.hidden-div1 {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}

.trigger-div1:hover + .hidden-div1 {
  opacity: 1;
}

.hidden-div2 {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}

.trigger-div2:hover + .hidden-div2 {
  opacity: 1;
}

.hidden-div3 {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}

.trigger-div3:hover + .hidden-div3 {
  opacity: 1;
}

.hidden-div3 {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}

.trigger-div3:hover + .hidden-div3 {
  opacity: 1;
}

.hidden-div4 {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}

.trigger-div4:hover + .hidden-div4 {
  opacity: 1;
}

.hidden-div5 {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}

.trigger-div5:hover + .hidden-div5 {
  opacity: 1;
}

.hidden-div6 {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}

.trigger-div6:hover + .hidden-div6 {
  opacity: 1;
}

.top-delete {
  bottom: 6%;
}

.sprite-player {
  margin-right: 30vw;
}

.sprite-enemy {
  margin-left: 30vw;
  margin-bottom: 5vh;
}
