{% extends "base.jinja" %}
{% block title %}
  Battle Tower
{% endblock title %}
{% block content %}
  {% if allTeams %}
    {% for teamName in allTeams.keys() %}<div>{{ teamName }}</div>{% endfor %}
  {% endif %}
{% endblock content %}
