{% extends "base.jinja" %}
{% block title %}
  Battle Tower
{% endblock title %}
{% block content %}
  {% if allTeams %}
    {% for teamName in allTeams.keys() %}
      <a href="{{ url_for('pokedexBP.battle', pkmnID=1, trainerID=allTeams[teamName][0][0].trainerID, battleID=0, firstTurn=1) }}"
         class="btn link-btn">{{ teamName }}</a>
    {% endfor %}
    {# {% for teamName in allTeams.keys() %}<div>{{ teamName }}</div>{% endfor %} #}
  {% endif %}
{% endblock content %}
