{% extends "base.jinja" %}
{% block title %}
  {{ playerPkmn.name }} vs {{ enemyPkmn.name }}
{% endblock title %}
{% block content %}
  <div class="content-wrapper">
    {% if playerPkmn %}
      <div class="favorite-container">
        <div>
          <img src="{{ enemyPkmn.sprite }}"
               alt=""
               height=""
               width=""
               class="sprite sprite-enemy">
        </div>
        <div>
          <img src="{{ playerPkmn.spriteBack }}"
               alt=""
               height=""
               width=""
               class="sprite sprite-player">
        </div>
      {% endif %}
    </div>
    {% for line in outcome %}<div>{{ line }}</div>{% endfor %}
  </div>
{% endblock content %}
