{% extends "base.jinja" %}
{% block content %}
  <form method="post">
    <div class="app-container">
      <div>
        <div class="content-wrapper">
          <div class="team-container">
            {% for pkmn in pkmnTeam %}
              {% if sendingToBox %}
                <div class="sprite-and-btn">
                  <img src="{{ pkmn }}" alt="" height="" width="" class="sprite">
                  {{ form.sendToBoxBtn(class="btn", value=loop.index) }}
                </div>
              {% else %}
                <img src="{{ pkmn }}" alt="" height="" width="" class="sprite">
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="input-form-wrapper">
          {% if sendingToBox %}
            {{ form.cancelBtn(class="btn delete-btn") }}
          {% else %}
            {{ form.sendToBoxBtn(class="btn delete-btn") }}
          {% endif %}
        </div>
      </div>
    </div>
  </form>
{% endblock content %}
