{% extends "base.jinja" %}
{% block title %}
  Pokedex
{% endblock title %}
{% block content %}
  <div class="app-container">
    <div>
      <div class="content-wrapper">
        <form method="post">
          <div class="input-container">
            <label for="pokemonID">Enter Pokemon</label>
            <input type="text" id="pokemonID" name="id">
          </div>
        </form>
        {% if connectErrorCode %}{{ connectErrorCode }}{% endif %}
        {% if errorCode %}
          <div class="error">
            <img src="{{ sprite }}" alt="" height="" width="" class="sprite">
            <div>Oops...</div>
            <div>Couldn't find that one...</div>
          </div>
        {% endif %}
        {% if pokemonInfoDict %}
          <div class="pokemon-data-container">
            {% if spriteURL %}
              <div class="sprite-container">
                <img src="{{ spriteURL }}" alt="" class="sprite" height="" width="" />
                {% if spriteShinyURL %}<img src="{{ spriteShinyURL }}" alt="" class="sprite" height="" width="">{% endif %}
              </div>
            {% endif %}
            <table class="pokemon-data">
              {% for dataLabel, data in pokemonInfoDict %}
                <tr>
                  <td class="data-label">{{ dataLabel }}</td>
                  <td class="data">{{ data }}</td>
                </tr>
              {% endfor %}
            </table>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
