{% extends "base.jinja" %}
{% block title %}
  Log In
{% endblock title %}
{% block content %}
  <div class="form-error delay-show-top">
    {% if form.userName.errors %}
      {% for error in form.userName.errors %}{{ error }}{% endfor %}
    {% elif form.password.errors %}
      {% for error in form.password.errors %}{{ error }}{% endfor %}
    {% endif %}
  </div>
  <form method="post" class="input-form">
    {{ form.hidden_tag() }}
    <div class="input-wrapper delay-show-act">
      <div class="input-label">
        {{ form.userName.label }}
        {{ form.password.label }}
      </div>
      <div class="input-field-container">
        {{ form.userName(class_="field") }}
        {{ form.password(class_="field") }}
      </div>
    </div>
    <div class="input-form-wrapper delay-show">
      {{ form.loginBtn(class_="btn") }}
    </form>
    <form method="post">
      {{ form.signupBtn(class_="btn") }}
    </div>
  </form>
{% endblock content %}
