{% extends "base.jinja" %}
{% block title %}
  Create Account
{% endblock title %}
{% block content %}
  <div class="form-error delay-show-top">
    {% if form.confirmPassword.errors %}
      {% for error in form.confirmPassword.errors %}{{ error }}{% endfor %}
    {% elif form.userName.errors %}
      {% for error in form.userName.errors %}{{ error }}{% endfor %}
    {% elif form.password.errors %}
      {% for error in form.password.errors %}{{ error }}{% endfor %}
    {% endif %}
  </div>
  <form method="post" class="input-form">
    {{ form.hidden_tag() }}
    <div class="input-wrapper delay-show-act">
      <div class="input-label">
        {{ form.userName.label }}
        {{ form.password.label }}
        {{ form.confirmPassword.label }}
      </div>
      <div class="input-field-container">
        {{ form.userName(class="field") }}
        {{ form.password(class="field") }}
        {{ form.confirmPassword(class="field") }}
      </div>
    </div>
    <div class="input-form-wrapper delay-show">{{ form.createAccountBtn(class="btn create-account-btn") }}</div>
  </form>
{% endblock content %}
