<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='styles.css') }}">
  <title>
    {% block title %}
      Welcome!
    {% endblock title %}
  </title>
</head>
<body>
  <nav>
    <ul class="nav-bar">
      <li>
        <a href='{{ url_for("main.landingPage") }}'>Home</a>
      </li>
      {% if not current_user.is_authenticated %}
        <li>
          <a href='{{ url_for("account.login") }}'>Log In</a>
        </li>
        <li>
          <a href='{{ url_for("account.signup") }}'>Create Account</a>
        </li>
      {% else %}
        <li>
          <a href='{{ url_for("account.account") }}'>{{ current_user.userName }}</a>
        </li>
        <li>
          <a href='{{ url_for("pokedexBP.favorite") }}'>Favorite</a>
        </li>
        <li>
          <a href='{{ url_for("pokedexBP.catch") }}'>Catch</a>
        </li>
        <li>
          <a href='{{ url_for("pokedexBP.team") }}'>Team</a>
        </li>
      {% endif %}
      <li>
        <a href='{{ url_for("pokedexBP.pokedex") }}'>Pokedex</a>
      </li>
    </ul>
  </nav>
  {% if current_user.is_authenticated %}
    <div class="display-favorite">
      <img src="{{ favoriteSprite }}"
           alt=""
           height=""
           width=""
           class="favorite-sprite">
    </div>
  {% endif %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}<div class="flashed-messages {{ category }}">{{ message }}</div>{% endfor %}
    {% endif %}
  {% endwith %}
  {% block content %}
  {% endblock content %}
</body>
