{% extends "base.jinja" %}
{% block content %}
  <div class="app-container">
    <div>
      <div class="welcome-wrapper">
        <h1>Welcome!</h1>
        <form method="post">
          <button type="submit" class="pokedex-button">Pokedex</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
