{% extends "base.jinja" %}
{% block content %}
  <div class="app-container">
    <div>
      <div class="welcome-wrapper">
        <h1>Welcome!</h1>
      </div>
    </div>
  </div>
{% endblock content %}
