{% extends "base.jinja" %}
{% block content %}
  <div class="app-container">
    <div>
      <div class="unown-word">
        {% for sprite in unownWord %}<img src="{{ sprite }}" alt="" height="" width="" class="sprite">{% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
