{% extends "base.jinja" %}
{% block title %}
  Sign In
{% endblock title %}
{% block content %}
  <div class="login-container">
    <div>
      <form method="post" class="login-form">
        {{ form.hidden_tag() }}
        <div class="login-wrapper">
          <div class="login">
            {{ form.userName.label }}
            {{ form.password.label }}
          </div>
          <div class="login-field-container">
            {{ form.userName(class="field") }}
            {{ form.password(class="field") }}
          </div>
        </div>
        <div class="btn-wrapper">{{ form.loginBtn(class="btn sign-in-btn") }}</div>
      </form>
      <form method="post">
        <div class="btn-wrapper">{{ form.signupBtn(class="btn create-account-btn") }}</div>
      </form>
    </div>
  </div>
{% endblock content %}
