{% extends "base.jinja" %}
{% block title %}
  Pokedex
{% endblock title %}
{% block content %}
  <div class="app-container">
    <div>
      <div class="form-error">
        {% if form.pokedexInput.errors %}
          {% for error in form.pokedexInput.errors %}{{ error }}{% endfor %}
        {% endif %}
      </div>
      <div class="content-wrapper">
        <form method="post">
          {{ form.hidden_tag() }}
          <div class="pokedex-wrapper">
            {{ form.pokedexInput.label(for="pokemonID") }}
            <div class="pokedex-input-field-container">{{ form.pokedexInput(class="field pokedex-field", id="pokemonID") }}</div>
          </div>
        </form>
        {% if connectErrorCode %}{{ connectErrorCode }}{% endif %}
        {% if errorCode %}
          <div class="error">
            {% if unownWord %}
              <div>
                {% for sprite in unownWord %}<img src="{{ sprite }}" alt="" height="" width="" class="sprite">{% endfor %}
              </div>
            {% else %}
              <img src="{{ sprite }}" alt="" height="" width="" class="sprite">
              <div>Oops...</div>
            {% endif %}
            <div>Couldn't find that one...</div>
          </div>
        {% endif %}
        {% if pokemonInfoDict %}
          <div class="pokemon-data-container">
            {% if spriteURL %}
              <div class="sprite-container">
                <img src="{{ spriteURL }}" alt="" class="sprite" height="" width="" />
                {% if spriteShinyURL %}<img src="{{ spriteShinyURL }}" alt="" class="sprite" height="" width="">{% endif %}
              </div>
            {% endif %}
            <table class="pokemon-data">
              {% for dataLabel, data in pokemonInfoDict %}
                <tr>
                  {% if dataLabel == 'Name:' %}
                    <td class="data-label">{{ dataLabel }}</td>
                    <td>
                      <a href="{{ bulbaURL }}" target="_blank" class="data data-link">{{ data }}</a>
                    </td>
                  {% else %}
                    <td class="data-label">{{ dataLabel }}</td>
                    <td class="data">{{ data }}</td>
                  {% endif %}
                </tr>
              {% endfor %}
            </table>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
